In [145]:
import pandas as pd
l= [['Anastasia',12.5,1,"yes"], ['Dima',9,1,"no"], ['Katherine',16.5,2,"yes"], 
    ['James',"np.nan",3,"no"], ['Emily',9,2,"no"], ['Michael',20,3,"yes"], ["Matthew",14.5,1,"yes"],
    ['Laura',"np.nan",1,"no"], ['Kevin',8,2,"no"], ['Jonas',19,1,"yes"]]


df=pd.DataFrame(l, columns =["name","score","attempts","qualify"],index = ['a','b','c','d','e','f','g','h','i','j'])

print(df)


print("EX3")
print(df.iloc[0:10])
print("EX4")

        name   score  attempts qualify
a  Anastasia    12.5         1     yes
b       Dima       9         1      no
c  Katherine    16.5         2     yes
d      James  np.nan         3      no
e      Emily       9         2      no
f    Michael      20         3     yes
g    Matthew    14.5         1     yes
h      Laura  np.nan         1      no
i      Kevin       8         2      no
j      Jonas      19         1     yes
EX 1
        name score  attempts qualify
a  Anastasia  12.5         1     yes
b       Dima     9         1      no
c  Katherine  16.5         2     yes
EX2
        name qualify
a  Anastasia     yes
b       Dima      no
c  Katherine     yes
d      James      no
e      Emily      no
f    Michael     yes
g    Matthew     yes
h      Laura      no
i      Kevin      no
j      Jonas     yes
EX3
        name qualify
a  Anastasia     yes
b       Dima      no
c  Katherine     yes
d      James      no
e      Emily      no
f    Michael     yes
g    Matthew     yes
h      Laura      no
i      Kevin      no
j      Jonas     yes
EX4

In [ ]:
import pandas as pd
l= [['Anastasia',12.5,1,"yes"], ['Dima',9,1,"no"], ['Katherine',16.5,2,"yes"], 
    ['James',"np.nan",3,"no"], ['Emily',9,2,"no"], ['Michael',20,3,"yes"], ["Matthew",14.5,1,"yes"],
    ['Laura',"np.nan",1,"no"], ['Kevin',8,2,"no"], ['Jonas',19,1,"yes"]]


df=pd.DataFrame(l, columns =["name","score","attempts","qualify"],index = ['a','b','c','d','e','f','g','h','i','j'])


print("EX 1")
print(df.head(3))

In [33]:
import pandas as pd
color=["pink", "white", "black", "blue"]
occurence = [20, 15, 6, 43]
S=pd.Series(occurence, index=color)
print(S)

pink     20
white    15
black     6
blue     43
dtype: int64

In [147]:
import pandas as pd
l= [['Anastasia',12.5,1,"yes"], ['Dima',9,1,"no"], ['Katherine',16.5,2,"yes"], 
    ['James',"np.nan",3,"no"], ['Emily',9,2,"no"], ['Michael',20,3,"yes"], ["Matthew",14.5,1,"yes"],
    ['Laura',"np.nan",1,"no"], ['Kevin',8,2,"no"], ['Jonas',19,1,"yes"]]


df=pd.DataFrame(l, columns =["name","score","attempts","qualify"],index = ['a','b','c','d','e','f','g','h','i','j'])



print("EX2")
df.drop('score', inplace=True, axis=1)
df.drop('attempts',inplace=True ,axis=1)
print(df)

EX2
        name qualify
a  Anastasia     yes
b       Dima      no
c  Katherine     yes
d      James      no
e      Emily      no
f    Michael     yes
g    Matthew     yes
h      Laura      no
i      Kevin      no
j      Jonas     yes

In [153]:
import pandas as pd
l= [['Anastasia',12.5,1,"yes"], ['Dima',9,1,"no"], ['Katherine',16.5,2,"yes"], 
    ['James',"np.nan",3,"no"], ['Emily',9,2,"no"], ['Michael',20,3,"yes"], ["Matthew",14.5,1,"yes"],
    ['Laura',"np.nan",1,"no"], ['Kevin',8,2,"no"], ['Jonas',19,1,"yes"]]

print("EX3")
df=pd.DataFrame(l, columns =["name","score","attempts","qualify"],index = ['a','b','c','d','e','f','g','h','i','j'])
print(df[["name", "score"]])

EX3
        name   score
a  Anastasia    12.5
b       Dima       9
c  Katherine    16.5
d      James  np.nan
e      Emily       9
f    Michael      20
g    Matthew    14.5
h      Laura  np.nan
i      Kevin       8
j      Jonas      19

In [167]:
import pandas as pd
l= [['Anastasia',12.5,1,"yes"], ['Dima',9,1,"no"], ['Katherine',16.5,2,"yes"], 
    ['James',"np.nan",3,"no"], ['Emily',9,2,"no"], ['Michael',20,3,"yes"], ["Matthew",14.5,1,"yes"],
    ['Laura',"np.nan",1,"no"], ['Kevin',8,2,"no"], ['Jonas',19,1,"yes"]]

l.append(["Suresh", 15.5,  1,  "yes"])
df=pd.DataFrame(l, columns =["name","score","attempts","qualify"],index = ['a','b','c','d','e','f','g','h','i','j','k'])
print("EX4")

print(df)

EX4
        name   score  attempts qualify
a  Anastasia    12.5         1     yes
b       Dima       9         1      no
c  Katherine    16.5         2     yes
d      James  np.nan         3      no
e      Emily       9         2      no
f    Michael      20         3     yes
g    Matthew    14.5         1     yes
h      Laura  np.nan         1      no
i      Kevin       8         2      no
j      Jonas      19         1     yes
k     Suresh    15.5         1     yes

In [ ]:
import pandas as pd
l= [['Anastasia',12.5,1,"yes"], ['Dima',9,1,"no"], ['Katherine',16.5,2,"yes"], 
    ['James',"np.nan",3,"no"], ['Emily',9,2,"no"], ['Michael',20,3,"yes"], ["Matthew",14.5,1,"yes"],
    ['Laura',"np.nan",1,"no"], ['Kevin',8,2,"no"], ['Jonas',19,1,"yes"]]

print("EX5")
df=pd.DataFrame(l, columns =["name","score","attempts","qualify"],index = ['a','b','c','d','e','f','g','h','i','j'])
df.drop('attempts',inplace=True ,axis=1)
print(df)

IndentationError: expected an indented block (3759833366.py, line 14)

In [87]:
import pandas as pd
l= [['Anastasia',12.5,1,"yes"], ['Dima',9,1,"no"], ['Katherine',16.5,2,"yes"], 
    ['James',"np.nan",3,"no"], ['Emily',9,2,"no"], ['Michael',20,3,"yes"], ["Matthew",14.5,1,"yes"],
    ['Laura',"np.nan",1,"no"], ['Kevin',8,2,"no"], ['Jonas',19,1,"yes"]]
la=[]
for i in range (len(l)):
    p=l[i][1]
    if type(p)==float or type(p)==int :
        if p<=10:
            s=0
        else:
            s=1
    else:
        s=0
    la.append(s)
print(la)
print("EX6")
df=pd.DataFrame(l, columns =["name","score","attempts","qualify"],index = ['a','b','c','d','e','f','g','h','i','j'])
df["Success"]=la
print(df)

[1, 0, 1, 0, 0, 1, 1, 0, 0, 1]
EX6
        name   score  attempts qualify  Success
a  Anastasia    12.5         1     yes        1
b       Dima       9         1      no        0
c  Katherine    16.5         2     yes        1
d      James  np.nan         3      no        0
e      Emily       9         2      no        0
f    Michael      20         3     yes        1
g    Matthew    14.5         1     yes        1
h      Laura  np.nan         1      no        0
i      Kevin       8         2      no        0
j      Jonas      19         1     yes        1

In [90]:
import pandas as pd
dict1= {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas',"Suresh"],

'score': [12.5, 9, 16.5, "np.nan", 9, 20, 14.5, "np.nan", 8, 19, 15.5],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1,1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes',"yes"],'Success':[1, 0, 1, 0, 0, 1, 1, 0, 0, 1,1]
       }
df=pd.DataFrame(dict1)
df.to_csv('k')
my_data=pd.read_csv('k')
print(my_data)

    Unnamed: 0       name   score  attempts qualify  Success
0            0  Anastasia    12.5         1     yes        1
1            1       Dima       9         3      no        0
2            2  Katherine    16.5         2     yes        1
3            3      James  np.nan         3      no        0
4            4      Emily       9         2      no        0
5            5    Michael      20         3     yes        1
6            6    Matthew    14.5         1     yes        1
7            7      Laura  np.nan         1      no        0
8            8      Kevin       8         2      no        0
9            9      Jonas      19         1     yes        1
10          10     Suresh    15.5         1     yes        1